<section class="content">
  <div class="row">
    <%= render partial: 'super/shared/folders' %>

    <div class="col-md-9">
      <div class="box box-primary">
        <% @post_trashes.each do |trash| %>
            <div class="box-body no-padding">
              <div class="mailbox-read-info">
                <h3 style='color: red'><%= trash.title %></h3>
                <h5>
                  <div class="mailbox-read-time">
                    <%= trash.updated_at.strftime('%Y-%m-%d %H:%M:%S') %>
                    <span class="pull-right">
                      删除日期：<%= trash.deleted_at.strftime('%Y-%m-%d') %>
                    </span>
                  </div>
                </h5>
              </div>

              <div class="mailbox-read-message">
                <%= render_markdown(trash.content) %>
              </div>

              <div class="box-footer">
                <div class="pull-right">
                  <%= link_to(renew_super_post_trash_path(trash), method: :post, class: 'btn btn-primary btn-sm') do %>
                    <i class="fa fa-file-text-o"></i>
                    恢复
                  <% end %>

                  <%= link_to(super_post_trash_path(trash), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "确认删除：#{trash.title}" }) do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    删除
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
        <%= paginate @post_trashes %>
      </div>
    </div>
  </div>
</section>