<section class="content">
  <div class="row">
    <%= render 'super/shared/folders' %>

    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            <%= yield(:form_title) %>
          </h3>
        </div>

        <%= file_field_tag 'file', id: 'file-upload-field', style: 'display: none' %>
        <%= form_for([:super, @post], html: { id: 'record-form' }) do |f| %>
          <div class="box-body">
            <div class="form-group">
              <%= f.text_field(:title, class: 'form-control', placeholder: '标题:', required: true, id: 'record-title', maxlength: 20) %>
            </div>

            <div class="form-group">
              <%= f.text_area(:content, class: 'form-control', id: 'record-content', placeholder: '内容:', rows: 20, required: true) %>
              <div id="pre-area" style="display: none"></div>
            </div>
            <%= hidden_field_tag(:post_draft_id) if @post.new_record? %>
            <div id="tags">
              <%= f.fields_for :tags do |tf| %>
                <%= render partial: 'tag_fields', locals: { f: tf } %>
              <% end %>
              <div class="links">
                <%= link_to_add_association '继续添加标签', f, :tags, { class: 'btn btn-primary btn-sm add-tag' }%>
              </div>
            </div>
          </div>

          <div class="box-footer">
            <dv class="pull-left">
              <%= button_tag('保存草稿', type: 'button', class: 'btn btn-default btn-sm', id: 'draft-btn') %>
              <span id="suc-text" style="display: none; color: cadetblue">保存成功</span>
              <span id="fail-text" style="display: none; color: red">保存失败</span>
            </dv>

            <div class="pull-right">
              <a href="javascript:;" id="file-upload-btn" class="btn btn-sm btn-default">
                图片
              </a>
              <%= button_tag('预览', type: 'button', class: 'btn btn-info btn-sm', id: 'pre-btn', style: 'cursor: pointer') %>
              <%= f.submit('完成', class: 'btn btn-primary btn-sm') %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
<% content_for :body_scripts do %>
  <script type="text/javascript">
    var body = $('body');
    $('#draft-btn').click(function () {
      var data = { title: $('#record-title').val(), content: $('#record-content').val(), draft_id: body.draft_id };
      <% if @post.persisted? %>
        data.post_id = <%= @post.id %>;
      <% end %>
      $.ajax({
        url: '<%= preserve_super_post_drafts_url %>',
        type: 'post',
        data: data,
        success: function (rsp) {
          if(rsp['code'] == 100){
            body.draft_id = rsp['data']['post_draft_id'];
            if($('#post_draft_id').length > 0){
              $('#post_draft_id').val(body.draft_id);
            }
            $('#suc-text').show().fadeOut(2000);
          } else {
            $('#fail-text').show().fadeOut(2000);
          }
        }
      });
    });
  </script>
<% end %>