<div class="row" style="margin-top: 25vh">
  <%= form_tag(super_sign_path, class: 'form-horizontal col-md-offset-4') do %>
    <div class="box-body">
      <div class="form-group">
        <div class="col-md-4  input-group-lg">
          <%= text_field_tag('name', nil, placeholder: 'Name', class: 'form-control') %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 input-group-lg">
          <%= password_field_tag('password', nil, placeholder: 'Password', class: 'form-control') %>
        </div>
      </div>
    </div>
    <div style="padding: 10px">
      <%= submit_tag('Log in', class: 'btn btn-info') %>
    </div>
  <% end %>
</div>

<style>
  body {
    background-image: url("<%= asset_path('gangqin.jpg')%>")
  }
</style>