<div class="col-md-3">
  <%= link_to('Compose', new_super_post_path, class: 'btn btn-primary btn-block margin-bottom') %>
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">
        文件夹
      </h3>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= active_for(controller: 'posts') %>">
          <%= link_to(super_posts_path) do %>
            <i class="fa fa-inbox"></i>
            文章
          <% end %>
        </li>
        <li class="<%= active_for(controller: 'post_drafts') %>">
          <%= link_to(super_post_drafts_path) do %>
            <i class="fa fa-file-text-o"></i>
            草稿
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">
        标签
      </h3>
    </div>

    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <% current_admin.tag_group.each do |value, count| %>
          <li class="<%= active_for(path: super_posts_path(value: value)) %>">
            <%= link_to(super_posts_path(value: value)) do %>
              <%= value %>
              <span class="label label-primary pull-right">
                <%= count %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>