<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag(current_admin.avatar.small.url, class: 'img-circle', alt: 'avatar') if current_admin.avatar.file %>
      </div>

      <div class="pull-left info">
        <p><%= current_admin.name %></p>
      </div>
    </div>

    <%= form_tag(search_path, method: :get, class: 'sidebar-form') do %>
      <div class="input-group">
        <%= text_field_tag('q', @query, placeholder: 'Search...', class: 'form-control') %>
        <span class="input-group-btn">
          <%= button_tag('', class: 'btn btn-flat') do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>

    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="<%= active_for(controller: %w[posts post_trashes post_drafts]) %>">
        <%= link_to(super_posts_path) do %>
          <i class="fa fa-book"></i>
          <span>Posts</span>
        <% end %>
      </li>

      <li class="<%= active_for(controller: 'admins') %>">
        <%= link_to(edit_super_admin_path(current_admin)) do %>
          <i class="fa fa-user"></i>
          <span>Profile</span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>