<!--
  - Ruby:  <%= RUBY_VERSION %><%= "-p#{RUBY_PATCHLEVEL}" if defined? RUBY_PATCHLEVEL %>
  - Rails: <%= Rails.version %>
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.blog_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="skin-blue sidebar-mini <%= controller_name %> <%= action_name %>">
    <div class="wrapper" style="height: auto; min-height: 100%">
      <div style="position:relative; z-index: 1000">
        <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissible">
            <%= button_tag('x', class: 'close', 'aria-hidden' => 'true', data: { dismiss: 'alert' }) %>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-danger alert-dismissible">
            <%= button_tag('x', class: 'close', 'aria-hidden' => 'true', data: { dismiss: 'alert' }) %>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>

      <%= render 'layouts/header' %>
      <%= render 'layouts/aside' %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <%= yield :body_scripts %>
    </div>
  </body>
</html>
